asgiref==3.11.1
attrs==25.4.0
beautifulsoup4==4.14.3
behave==1.3.3
behave-django==1.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
colorama==0.4.6
cucumber-expressions==19.0.0
cucumber-tag-expressions==9.1.0
Deprecated==1.3.1
Django==6.0.3
djangorestframework==3.17.1
gunicorn==26.0.0
h11==0.16.0
idna==3.11
img2pdf==0.6.3
lxml==6.0.2
outcome==1.3.0.post0
packaging==26.0
parse==1.21.1
parse_type==0.6.6
pikepdf==10.5.1
pillow==12.1.1
pycparser==3.0
PyPDF2==3.0.1
PySocks==1.7.1
python-dotenv==1.2.2
RapidFuzz==3.14.5
requests==2.32.5
selenium==4.41.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
splinter==0.21.0
sqlparse==0.5.5
thefuzz==0.22.1
trio==0.33.0
trio-websocket==0.12.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uv==0.10.10
webdriver-manager==4.0.2
websocket-client==1.9.0
whitenoise==6.12.0
wrapt==2.1.2
wsproto==1.3.2



django-cookie-consent~=1.0.0



textstat

# Prgrama que genera PDF a partir de HTML y CSS
weasyprint
cairocffi
cffi
tinycss2
cssselect2
html5lib
Pyphen
