{% extends "base.html" %}

{% block title %}Termes i Condicions d'ús{% endblock %}

{% block content %}
<div class="container py-5">

    <h1 class="fw-bold mb-4">Termes i Condicions d'ús</h1>

    <h4>1. Descripció del servei i finalitat</h4>
    <p>
        Aquesta plataforma és un projecte acadèmic destinat a oferir una experiència simulada de descobriment i gestió de contingut multimèdia.
        El servei permet als usuaris explorar, consultar i interactuar amb informació relacionada amb continguts audiovisuals.
    </p>

    <h4>2. Responsabilitats de l’usuari i ús acceptable</h4>
    <p>
        Els usuaris es comprometen a utilitzar la plataforma de manera responsable, respectuosa i d’acord amb la finalitat educativa del projecte.
        L’ús ha de ser adequat i no interferir amb el funcionament normal del sistema ni amb l’experiència d’altres usuaris.
    </p>

    <h4>3. Accions prohibides</h4>
    <p>
        Queda estrictament prohibit realitzar accions com ara:
    </p>
    <ul>
        <li>Extracció massiva de dades (scraping) o automatització abusiva del servei.</li>
        <li>Creació de comptes falsos o suplantació d’identitat.</li>
        <li>Intentar comprometre la seguretat o el rendiment de la plataforma.</li>
        <li>Qualsevol ús que no sigui coherent amb la finalitat educativa del projecte.</li>
    </ul>

    <h4>4. Exempció de garanties i limitació de responsabilitat</h4>
    <p>
        El Servei es proporciona “tal com és”, sense cap garantia sobre el seu funcionament, disponibilitat o absència d’errors.
        L’ús que en faci l’usuari és sota la seva pròpia responsabilitat.</br>
        El projecte i els seus autors no es fan responsables de cap dany, pèrdua o perjudici derivat de l’ús o la impossibilitat d’ús del Servei.
        En cap cas s’assumeix responsabilitat per danys indirectes o conseqüents.
    </p>

    <h4>5. Suspensió o finalització de comptes</h4>
    <p>
        Els administradors del sistema es reserven el dret de suspendre o eliminar comptes d’usuari en cas d’ús inadequat,
        comportaments maliciosos o incompliment d’aquests termes.
    </p>

    <p class="mt-4 text-muted small">
        Última actualització: 2026
    </p>

</div>
{% endblock %}